In [1]:
library(tidyverse)
library(lubridate
       )

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.2     ✔ purrr   0.3.4
✔ tibble  3.0.3     ✔ dplyr   1.0.2
✔ tidyr   1.1.2     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.5.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()


Attaching package: ‘lubridate’


The following objects are masked from ‘package:base’:

    date, intersect, setdiff, union

In [2]:
read_csv("2019_verkehrszaehlungen_werte_fussgaenger_velo.csv") -> Data

Parsed with column specification:
cols(
  FK_ZAEHLER = col_character(),
  FK_STANDORT = col_double(),
  DATUM = col_datetime(format = ""),
  VELO_IN = col_double(),
  VELO_OUT = col_double(),
  FUSS_IN = col_double(),
  FUSS_OUT = col_double(),
  OST = col_double(),
  NORD = col_double()
)

# Ungefilterte Datensätze

## Anzahl der Datensätze

In [3]:
Data %>% count %>% pull

[1] 1264678

## Anzahl Vektoren

In [4]:
Data %>% names()

[1] "FK_ZAEHLER"  "FK_STANDORT" "DATUM"       "VELO_IN"     "VELO_OUT"
[6] "FUSS_IN"     "FUSS_OUT"    "OST"         "NORD"

In [5]:
Data %>% names() %>% length()

[1] 9

# Gefilterte Datensätze

In [6]:
filter(Data, FK_ZAEHLER== "U15G3063872") -> MyData

## Anzahl Datensätze

In [7]:
MyData %>% count %>% pull

[1] 35039

In [8]:
MyData %>% mutate(
Monat = month(DATUM,1, label = FALSE)
) -> MyDataMon

#### Anzahl Datensätze pro Monat

In [9]:
MyDataMon %>% count(Monat)

   Monat n
1   1    2976
2   2    2688
3   3    2972
4   4    2880
5   5    2976
6   6    2880
7   7    2976
8   8    2976
9   9    2880
10 10    2979
11 11    2880
12 12    2976

#### Anzahl Begehungen IN / Jahr

In [39]:
MyData %>% pull(FUSS_IN) %>% sum()

[1] 738105

#### Anzahl Begehungen OUT / Jahr

In [38]:
MyData %>% pull(FUSS_OUT) %>% sum()

[1] 1351669

## Aufgabe 1a

#### Durchschnitt pro Monat IN

In [12]:
MyDataMon %>% group_by(Monat) %>% summarise(Durschschnitt_In = mean(FUSS_IN)) #Durchschnitt pro Monat IN

`summarise()` ungrouping output (override with `.groups` argument)

   Monat Durschschnitt_In
1   1    17.11190
2   2    22.31250
3   3    23.54711
4   4    21.62292
5   5    23.31855
6   6    22.81146
7   7    21.58770
8   8    19.82292
9   9    20.69479
10 10    20.99631
11 11    21.53021
12 12    17.62802

#### Durchschnitt pro Monat OUT

In [13]:
MyDataMon %>% group_by(Monat) %>% summarise(Durschschnitt_OUT = mean(FUSS_OUT)) #Durchschnitt pro Monat Out

`summarise()` ungrouping output (override with `.groups` argument)

   Monat Durschschnitt_OUT
1   1    35.82124
2   2    39.38690
3   3    40.60734
4   4    39.43750
5   5    42.08065
6   6    36.52465
7   7    34.48017
8   8    34.04704
9   9    39.10104
10 10    41.86539
11 11    44.56493
12 12    35.24630

In [81]:
MyDataMon %>% select(FUSS_IN,FUSS_OUT,Monat) %>% mutate(
    Total = FUSS_IN + FUSS_OUT
) -> MyDataMonTot  #Fuss in und out zusammen

#### Durchschnitt pro Monat beide Richtungen

In [82]:
MyDataMonTot %>% group_by(Monat) %>% summarise(Total = mean(Total)) #Fuss in + Out Durchschnitt

`summarise()` ungrouping output (override with `.groups` argument)

   Monat Total
1   1    52.93313
2   2    61.69940
3   3    64.15444
4   4    61.06042
5   5    65.39919
6   6    59.33611
7   7    56.06788
8   8    53.86996
9   9    59.79583
10 10    62.86170
11 11    66.09514
12 12    52.87433

## Aufgabe 1b

In [87]:
MyData %>% mutate(
Tag = wday(DATUM,1, label = FALSE)
) -> MyDataDay

#### Datensätze pro Wochentag

In [88]:
MyDataDay %>% count(Tag)

  Tag n
1 1   4991
2 2   4992
3 3   5088
4 4   4992
5 5   4992
6 6   4992
7 7   4992

#### Durchschnitt pro Monat IN

In [95]:
MyDataDay %>% group_by(Tag) %>% summarise(Durschschnitt_In = mean(FUSS_IN))

`summarise()` ungrouping output (override with `.groups` argument)

  Tag Durschschnitt_In
1 1   14.42396
2 2   22.81591
3 3   24.11085
4 4   24.46394
5 5   24.66887
6 6   22.59736
7 7   14.31591

#### Durchschnitt pro Monat OUT

In [90]:
MyDataDay %>% group_by(Tag) %>% summarise(Durschschnitt_Out = mean(FUSS_OUT))

`summarise()` ungrouping output (override with `.groups` argument)

  Tag Durschschnitt_Out
1 1   19.93729
2 2   43.07752
3 3   47.13620
4 4   46.00401
5 5   46.47055
6 6   43.56530
7 7   23.67368

#### Durchschnitt pro Monat In und Out

In [93]:
MyDataDay %>% select(FUSS_IN,FUSS_OUT,Tag) %>% mutate(
    Total = FUSS_IN + FUSS_OUT
) -> MyDataDayTot

In [94]:
MyDataDayTot %>% group_by(Tag) %>% summarise(Total = mean(Total))

`summarise()` ungrouping output (override with `.groups` argument)

  Tag Total
1 1   34.36125
2 2   65.89343
3 3   71.24705
4 4   70.46795
5 5   71.13942
6 6   66.16266
7 7   37.98958

## Aufgabe 1c

In [101]:
MyData %>% mutate(
Stunde = hour(DATUM)
) -> MyDataHour

#### Datensätze pro Stunde

In [102]:
MyDataHour %>% count(Stunde)

   Stunde n
1   0     1460
2   1     1460
3   2     1459
4   3     1460
5   4     1460
6   5     1460
7   6     1460
8   7     1460
9   8     1460
10  9     1460
11 10     1460
12 11     1460
13 12     1460
14 13     1460
15 14     1460
16 15     1460
17 16     1460
18 17     1460
19 18     1460
20 19     1460
21 20     1460
22 21     1460
23 22     1460
24 23     1460

#### Durchschnitt pro Stunde IN

In [103]:
MyDataHour %>% group_by(Stunde) %>% summarise(Durschschnitt_In = mean(FUSS_IN))

`summarise()` ungrouping output (override with `.groups` argument)

   Stunde Durschschnitt_In
1   0      4.636301
2   1      3.282192
3   2      2.012337
4   3      1.610274
5   4      1.128082
6   5      2.469863
7   6     15.749315
8   7     49.489726
9   8     55.669863
10  9     34.019178
11 10     22.412329
12 11     22.093151
13 12     25.978082
14 13     26.536301
15 14     23.560274
16 15     32.546575
17 16     35.822603
18 17     37.478082
19 18     29.368493
20 19     23.110274
21 20     18.634932
22 21     16.030822
23 22     13.952055
24 23      7.961644

#### Durchschnitt pro Stunde OUT

In [104]:
MyDataHour %>% group_by(Stunde) %>% summarise(Durschschnitt_OUT = mean(FUSS_OUT))

`summarise()` ungrouping output (override with `.groups` argument)

   Stunde Durschschnitt_OUT
1   0       5.3109589
2   1       2.0568493
3   2       1.1617546
4   3       0.8609589
5   4       0.9136986
6   5       4.0301370
7   6      15.7698630
8   7      41.4102740
9   8      39.8869863
10  9      30.2643836
11 10      30.6493151
12 11      37.6760274
13 12      50.1486301
14 13      42.4465753
15 14      42.8842466
16 15      67.6561644
17 16     115.9020548
18 17     138.6630137
19 18      90.2863014
20 19      60.3458904
21 20      39.5547945
22 21      30.1561644
23 22      19.8178082
24 23      17.9486301

#### Durchschnitt pro Stunde IN und OUT

In [106]:
MyDataHour %>% select(FUSS_IN,FUSS_OUT,Stunde) %>% mutate(
    Total = FUSS_IN + FUSS_OUT
) -> MyDataHourTot

In [109]:
MyDataHourTot %>% group_by(Stunde) %>% summarise(Total = mean(Total))

`summarise()` ungrouping output (override with `.groups` argument)

   Stunde Total
1   0       9.947260
2   1       5.339041
3   2       3.174092
4   3       2.471233
5   4       2.041781
6   5       6.500000
7   6      31.519178
8   7      90.900000
9   8      95.556849
10  9      64.283562
11 10      53.061644
12 11      59.769178
13 12      76.126712
14 13      68.982877
15 14      66.444521
16 15     100.202740
17 16     151.724658
18 17     176.141096
19 18     119.654795
20 19      83.456164
21 20      58.189726
22 21      46.186986
23 22      33.769863
24 23      25.910274